
    * {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }
    .container {
        width: 400px;
        margin: auto;
        margin-bottom: 20px;
        padding: 20px;
        text-align: center;
       
    }
    .container .header h1 {
        font-size: 50px;
        color: rgb(0, 153, 255);
        margin-bottom: 10px;
    }
    .container .header p {
        font-size: 25px;
        color: #333;
        margin-bottom: 20px;
    }
    .login-form{
        width: 400px;
        margin: auto;
    
        margin-bottom: 20px;
        padding: 10px 10px 30px 0;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .login-form input {
        width: 90%;
        padding: 12px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        
    }
    .login-button button {
        width: 95%;
        padding: 12px;
        margin: 10px 0;
        background-color: rgb(0, 153, 255);
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    .login-form p {
        margin-bottom: 10px;
    }
    .login-form p a{
         text-decoration: none;
         color: rgb(11, 101, 211);
         font-size: 14px; 
    }
    .login-button button:hover {
        background-color: rgb(4, 107, 210);
    }
    hr {
        margin: 20px 0;
        border: none;
        border-bottom: 1px solid #ccc;
    }
    .create-account a {
        width: 60%;
        padding: 12px;
        text-decoration: none;
        background-color: rgb(0, 204, 102);
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    .create-account a:hover {
        background-color: rgb(0, 153, 77);
    }



