
    * {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }
    
    
    h1 {
        text-align: center;
        font-size:50px;
        color:  rgb(0, 153, 255);
        margin-bottom: 10px;
    }

    .container {
        width:30%;
        margin: auto;
        margin-bottom: 20px;
        padding: 10px 10px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        box-shadow: 0px 0px  100px 10px rgba(0, 0, 0, 0.1);
        
    }
    .Create-account {
        margin: 10px 0 20px 0;
        text-align: center;
    }
    .Create-account p {
        margin-top: 5px;
    }
    hr {
        margin: 20px 0;
        border: none;
        border-bottom: 1px solid #ccc;
    }

    .user-name {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 8px;

    }

    .user-name input {
        width: 80%;
        padding: 13px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .email-password input {
        width: 90%;
        padding: 13px;
        margin-bottom:20px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .gender {
        margin-top: 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        gap: 5px;
        margin-bottom: 15px;
        
    }

    .gender div {
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
        margin-right: 5px;
        border: 1px solid #cccccc;
        padding: 10px 15px 10px 15px;
        border-radius: 5px;
    }

    .date-of-birth select {
        width: 31%;
        padding: 10px;
        margin: 10px 2px;
        border-radius: 5px;
        font-size: 16px;
        border: 1px solid #cccccc;

    }
    
    
    .signup-button{
        margin-bottom: 10px;

    }
   .signup-button button {
    width: 100%;
    padding: 10px 0px;
    background-color: rgb(0, 153, 255);
    color: white;
    border: none; 
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer;
    }

    .signup-button button:hover {
        background-color: rgb(0, 102, 204);
    }

    .text p {
        font-size: 12px;
        color: gray;
    }

    .signup-button p {
        text-align: center;
        font-size: 18px;
        margin-top: 15px;
    }
    .signup-button p a {
        text-decoration: none;
        color: rgb(27, 84, 183);
        opacity: 0.65;
    } 

    .signup-button p a:hover{
        opacity: 1;
    }

    @media (max-width:900px){
        .container {
        width:90%;
        }
        
    }
    
    

